<!-- <div class="editor-container">
  <div class="editor-form">
    <div class="field field-name-extraTitle text">
      <div class="h5p-editor-flex-wrapper">
        <label class="h5peditor-label-wrapper">
          <span class="h5peditor-label h5peditor-required">Title</span>
        </label>
        <div class="h5p-metadata-button-wrapper">
          <div class="h5p-metadata-button-tip"></div>
          <div class="h5p-metadata-toggler">Metadata</div>
        </div>
      </div>
      <div class="h5peditor-field-description">Used for searching, reports and copyright information</div>
      <input class="h5peditor-text" type="text" maxlength="255">
      <div class="h5p-errors"></div>
    </div>
    <fieldset class="field group importance-medium field-name-media">
      <div class="title" title="Expand/Collapse" role="button" tabindex="0">Media</div>
      <div class="content h5peditor-single">
        <div class="field library">
          <div class="h5p-editor-flex-wrapper">
            <label class="h5peditor-label-wrapper">
              <span class="h5peditor-label">Type</span>
            </label>
          </div>
          <div class="h5peditor-field-description">Optional media to display above the question.</div>
          <select>
            <option value="-">-</option>
            <option value="H5P.Image 1.1">Image</option>
            <option value="H5P.Video 1.5">Video</option>
          </select>
          <div class="h5peditor-copypaste-wrap">
            <button class="h5peditor-copy-button disabled" title="Copy H5P content to the clipboard">Copy</button>
            <button class="h5peditor-paste-button disabled" title="Paste H5P content from the clipboard">Paste</button>
          </div>
          <div class="h5peditor-clearfix"></div>
          <div class="libwrap"></div>
        </div>
      </div>
    </fieldset>
  </div>
</div> -->
<div class="h5p-editor h5peditor" style="width: 850px; margin: 0 auto">
  <div>
    <section class="h5p-hub">
      <div class="panel h5p-section-content-types open">
        <div class="h5p-hub-client-drop-down" aria-level="1" role="heading">
          <div class="icon-hub-icon" role="button" aria-expanded="true" aria-controls="panel-body-content-types" tabindex="0">
            <span class="h5p-hub-description">H5P Hub.</span>
            <span class="h5p-hub-selected">Select content type</span>
          </div>
        </div>
        <div id="panel-body-content-types" role="region" class="">
          <div class="tab-panel">
            <nav>
              <div class="h5peditor-copypaste-wrap">
                <button id="h5peditor-hub-paste-button" class="h5peditor-paste-button disabled" title="Paste H5P content from the clipboard">Paste</button>
              </div>
              <ul role="tablist">
                <li class="tab-button" aria-selected="true" aria-controls="tab-panel-content-types" role="tab">
                  <a id="content-types" href="#" class="hightlight" tabindex="0">Create Content</a>
                </li>
                <li class="tab-button" aria-selected="false" aria-controls="tab-panel-upload" role="tab">
                  <a id="upload" href="#" class="" tabindex="-1">Upload</a>
                </li>
              </ul>
            </nav>
            <div class="tabpanel" id="tab-panel-content-types" aria-labelledby="content-types" role="tabpanel">
              <div class="content-type-section-view loaded">
                <div class="search-wrapper" role="search">
                  <div class="border-wrap">
                    <input type="text" id="hub-search-bar" value="" aria-label="Search for Content Types" placeholder="Search for Content Types">
                    <div class="icon-search"></div>
                  </div>
                </div>
                <div class="content-type-section">
                  <div class="navbar">
                    <div class="result-header">All Content Types
                      <span class="result-hits">(44 results)</span>
                    </div>
                    <div id="sort-by" class="sort-by-header">Show:</div>
                    <ul class="sort-by-list" aria-labelledby="sort-by">
                      <li>
                        <a href="#" id="recently" class="" tabindex="-1">Recently Used First</a>
                      </li>
                      <li>
                        <a href="#" id="newest" class="" tabindex="-1">Newest First</a>
                      </li>
                      <li>
                        <a href="#" id="a-to-z" class="hightlight" tabindex="0">A to Z</a>
                      </li>
                    </ul>
                  </div>
                  <div class="content-type-list" aria-hidden="false">
                    <ol *ngFor="let type of allType">
                      <a routerLink="/multichoice">
                      <li id="h5p-accordion" class="media highlight" tabindex="0" role="button" (click) ="onSeletedType(type)">
                        <div>
                          <div class="media-left">
                            <img class="media-object" src="{{type.icon}}" alt="Accordion Icon">
                          </div>
                          <div class="media-body">
                            <div class="h4 media-heading">{{type.title}}</div>
                            <button type="button" class="button button-primary" tabindex="0">Details</button>
                            <div class="content-type-update-info hidden">Update available</div>
                            <div class="description">{{type.summary}}</div>
                          </div>
                        </div>
                      </li>
                      </a>
                    </ol>
                  </div>
                  <div class="content-type-detail" id="content-type-detail"></div>
                </div>
              </div>
            </div>
            <div class="tabpanel hidden" id="tab-panel-upload" aria-labelledby="upload" role="tabpanel">
              <div class="upload-wrapper">
                <div class="upload-throbber hidden" aria-label="Now uploading..."></div>
                <h1 class="upload-instruction-header">Upload an H5P file.</h1>
                <div class="upload-form">
                  <input class="upload-path" placeholder="No file chosen" tabindex="-1" readonly="">
                  <button type="button" class="button use-button" aria-hidden="true">Use</button>
                  <div class="input-wrapper">
                    <input type="file" accept=".h5p" aria-hidden="true">
                    <button type="button" class="button upload-button" tabindex="0">Upload a file</button>
                  </div>
                </div>
                <p class="upload-instruction-description">You may start with examples from
                  <a href="https://h5p.org/content-types-and-applications" target="blank">H5P.org</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <a class="h5p-tutorial-url" target="_blank" style="display: none;">Tutorial</a>
  <a class="h5p-example-url" target="_blank" style="display: none;">Example</a>
  <div class="h5peditor-copypaste-wrap hidden">
    <button class="h5peditor-copy-button disabled" title="Copy H5P content to the clipboard">Copy</button>
    <button class="h5peditor-paste-button disabled" title="Paste H5P content from the clipboard">Paste</button>
  </div>
  <div class="h5peditor-clearfix hidden"></div>
</div>
