<div class="h5p-confirmation-dialog-background">
  <div class="h5p-confirmation-dialog-popup" role="dialog" aria-labelledby="h5p-confirmation-dialog-dialog-text-0">
    <div class="h5p-confirmation-dialog-header">
      <div class="h5p-confirmation-dialog-header-text">Change content type?</div>
    </div>
    <div class="h5p-confirmation-dialog-body">
      <div class="h5p-confirmation-dialog-text" id="h5p-confirmation-dialog-dialog-text-0">By doing this you will lose all work done with the current content type. Are you sure you wish to change content type?</div>
      <div class="h5p-confirmation-dialog-buttons">
        <button class="h5p-core-cancel-button">Cancel</button>
        <button class="h5p-core-button h5p-confirmation-dialog-confirm-button">Confirm</button>
      </div>
    </div>
    <button class="h5p-confirmation-dialog-exit" aria-hidden="true" tabindex="-1" title="Cancel"><i class="fa fa-window-close" aria-hidden="true"></i></button>
  </div>
</div>