<fieldset class="feedback-block">
  <div *ngFor="let feedback of overAllFeedback">
    <div class="title" title="Expand/Collapse" role="button">
      {{feedback.label}}
    </div>
    <div class="content" *ngFor="let fbContent of feedback.fields">
      <label class="fdback-label">{{fbContent.label}}</label>
      <div class="fdback-description">{{fbContent.description}}</div>
      <div class="widget-wrapper">
        <table class="table-list">
          <thead *ngFor="let fbFields of fbContent.field.fields">
            <tr>
              <th class="score-range" *ngIf="fbFields.label">{{fbFields.label}}</th>
            </tr>
            <tr>
              <th>

              </th>
            </tr>
            <tr>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div>
                  <!-- <label class="label-wrapper">{{fbFields.label}}</label> -->
                  <!-- <div class="feedback-text">{{fbFields.default}} %</div> -->
                  <input class="feedback-input" type="fbFields.type" maxlength="15">
                  <!-- {{fbFields.name}} -->
                </div>
              </td>
              <!-- <td>hi</td>
              <td>hi</td>
              <td>hi</td>
              <td>hi</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</fieldset>