<div class="field field-name-extraTitle text">
  <div class="h5p-editor-flex-wrapper">
    <label class="h5peditor-label-wrapper">
      <span class="h5peditor-label h5peditor-required">Title</span>
    </label>
    <div class="h5p-metadata-button-wrapper">
      <div class="h5p-metadata-button-tip"></div>
      <div class="h5p-metadata-toggler" (click)="showDialog()">Metadata</div>
    </div>
  </div>
  <div class="h5peditor-field-description">Used for searching, reports and copyright information</div>
  <input class="h5peditor-text" type="text" maxlength="255">
  <div class="h5p-errors"></div>
</div>